@import url('https://fonts.googleapis.com/css2?family=Karla&family=Libre+Baskerville&family=Oooh+Baby&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@font-face {
    font-family: 'FreightText Pro ';
    src: local('FreightText Pro  Light Regular'), local('FreightText-Pro--Light-Regular'),
        url('FreightTextProLight-Regular.woff2') format('woff2'),
        url('FreightTextProLight-Regular.woff') format('woff'),
        url('FreightTextProLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
@font-face {
    font-family: 'FreightTextProLight';
    src: url('FreightTextProLight-Regular.woff2') format('woff2'),
        url('FreightTextProLight-Regular.woff') format('woff'),
        url('FreightTextProLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/*Selector general*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Clases */
.mainlogo{
    height:100px;
    width:100px;
}
.mainpage{
    height:600px;
    width:100%;
    animation: Fondo 5s ease infinite;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(165,76,69,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcometitle{
    align-self: center;
    text-align: center;
    font-family: 'Oooh Baby';
    font-size:80px;
}
.mpcontent{
    height:900px;
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: #ffe0e0;
}
.mpdiv{
    width:100%;
    height:300px;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
}
.mptext-right{
    justify-self: left;
    align-self: center;
    text-align: center;
    width:100px;
    font-family: 'Oooh Baby';
    font-size:xx-large;
}
.right-arrow{
    height:100px;
    width:200px;
    align-self: center;
}
.mpimage-right{
    height:200px;
    width:200px;
    z-index:0;
    align-self: center;
    rotate:5deg;
    border-width: 2px;
    border-style:dashed;
    transition: 0.1s;
}
.mpimage-right:hover{
    border-width:8px;
    border-style: dashed;
    border-color: #a95c56;
    transition:0.1s;
}
.mptext-left{
    justify-self: right;
    align-self: center;
    text-align: center;
    order:2;
    width:180px;
    font-family: 'Oooh Baby';
    font-size:xx-large;
}
.left-arrow{
    height:100px;
    width:200px;
    align-self: center;
    order:1;
    rotate:180deg;
}
.mpimage-left{
    height:200px;
    width:200px;
    z-index:0;
    order:-1;
    align-self: center;
    rotate:-5deg;
    border-width: 2px;
    border-style:dashed;
    transition:0.1s;
}
.mpimage-left:hover{
    border-width:8px;
    border-style: dashed;
    border-color: #a95c56;
    transition: 0.1s;
}
.biopage{
    height: 150vh;
    background-color:#f59587;
    display:grid;
    grid-template-columns: 50% 50%;
}
.biocontent{
    display:grid;
    grid-template-rows: 20% 80%;
    margin:10% 50px;
}
.biofoto{
    margin: 10% 0px;
    background-image: url(QS-Fondo.jpg);
    background-size: 100% 100%;
}
.biotitle{
    text-align: center;
    color:white;
    font-family: "FreightText Pro ", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60px;
}
.biotext{
    text-align: justify;
    align-self: center;
    color:white;
    font-weight: lighter;
    font-size: 20px;
    line-height: 40px;
}
.bodyMenu{
    background-color: #f59587;
}
.subMenu{
    text-align: center;
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin: 15px;
}
.itemBrunch{
    text-align: center;
}
.bodyForm{
    background-color: #f9e4b7;
}
.formtitle{
    font-size: 30px;
    font-weight: 600 bold;
    text-align: center;
}
.formheader{
    text-align: center;
    font-family: 'FreightText Pro ';
    font-size: small;
    line-height: 35px;
}
.mainbox{
    width:500px;
    
}
.subbox{
    width:150px;

}
.textbox{
    width:250px;
    height:150px;
}
.checksbox{
    line-height: 25px;
    padding-top:10px;
}
.horarios{
    font-family: 'FreightTextProLight';
    font-size: 20px;
    font-style: bold;
    text-align: justify;
    padding: 12px;
    display: grid;
    width: auto;
    line-height: 30px;
    align-self: start;
    color: #F2F2F2;
    margin-top: 60px;
    margin-left: 40px
}

.ubicacion{
    margin-top: 60px;
    display: grid;
    width: auto;
    height: auto;
    font-family: 'FreightTextProLight';
    align-self: start;
    position: relative;
    color: #F2F2F2;
    font-size: 20px;

}
.mapa{
 height: 100%;
 width:200px; 
 height:150px; 
}
.horarios p {
    font-family: 'Times New Roman', Times, serif;  
    font-style: italic;
    line-height: 25px;
    width:50%
}


/* IDs */
#imgCafe1{
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 2s
}
#imgCafe1:hover{
    transition: all 2s;
    transform: scale(1.1);
}
#fotoCafe{
    width: 280px;
    height: 280px;
}
#imgCafe2{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}
#imgCafe2:hover{
    transition: all 2s;
    transform: scale(1.1);
}
#lecheAlmendras{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "Karla";
    margin: 75px 15px;
}
#fotoBebidas{
    width: 420px;
    height: 250px;
}
#brunch{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 75%;
    height: 230px;
    border: solid 3px  #ffe0e0;
    background-image: url(fondito.jpg);
}
#subBrunch{
    text-align: end;
    color: black;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin: 15px;
}
#paraUno{
    grid-row: 2/3;
    grid-column: 1/2;
}
#paraDos{
    grid-row: 2/3;
    grid-column: 2/2;
}
#platos{
    margin-top: 30px;
}
#imgCafe3{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s
}
#imgCafe3:hover{
    transition: all 2s;
    transform: scale(1.1);
}
#fotoSalado{
    width: 200px;
    height: 285px;
}
#otPlatos{
    margin-top: 30px;
}
#imgCafe4{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}
#imgCafe4:hover{
    transition: all 2s;
    transform: scale(1.1);
}
#fotoDulce{
    width: 230px;
    height: 280px;
}
#mostrador{
    color: black;
    font-size: 22px;
    font-family: "Karla";
    margin-top: 40px;
    width: max-content;
}

/* Animaciones */
@keyframes Fondo{
    0%,100%{
        background-image: url(Fondo1.png);
    }
    25%{
        background-image: url(Fondo2.png);
    }
    50%{
        background-image:url(Fondo3.png)
    }
    75%{
        background-image: url(Fondo4.png);
    }
}

/* Tags */
a,li{
    font-family:"Karla";
    font-weight: 400;
    font-size: medium;
    text-decoration: none;
    color: black;
    list-style: none;
}
header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a95c56;
    position: sticky;
    top:0;
    z-index:1
}
img{
    height:20px;
}
nav li,a{
    list-style:none;
    transition: all 0.3s ease 0s;
    padding: 0px 10px;
    cursor:pointer;
}
nav li a:hover{
    color:white;
}
nav.socialmedia li{
    display:inline-block;
}
footer{
    width:100%;
    height:50px;
    background-color: #a95c56;
    color:white;
    text-align: center;
    font-weight: lighter;
    font-size: small;
    padding:20px;
}
content{
    display:grid;
    grid-template-columns: 1fr;
    gap: 20px;
    box-sizing: border-box;
    background-color: #f59587;
}
form{
    text-align: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    font-family: 'Karla';
}
h2{
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: #c97878;
    text-align: start
}
aside{
    display:grid;
    grid-template-columns: 50% 50%;
    width:100%;
    background-color: #f59587;
}

/*API*/
#respuestaAPI {
    text-align: center; /* Centra el contenido de respuestaAPI */
    margin: 0 auto; /* Centra la caja de respuestaAPI en el centro de la pantalla */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%; /* Limita el ancho máximo de la caja de respuesta */
    margin-top: 20px; /* Añade espacio en la parte superior de la caja de respuesta */
}





/* Breakpoints */
@media all and (max-width:1024px){
    /* Tags */
    header{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0px;
        background-color: #a95c56;
        position: sticky;
        top:0;
    }
    img{
        height:4vw;
        margin:3vw 0vw;
    }
    nav li,a{
        list-style:none;
        transition: all 0.3s ease 0s;
        padding: 10px 20px;
        cursor:pointer;
        order:2;
        text-align: center;
    }
    a,li{
        font-family:"Karla";
        font-weight: 400;
        font-size: 4vw;
        text-decoration: none;
        color: black;
    }
    a{
        order:-1;
    }
    footer{
        width:100%;
        background-color: #a95c56;
        color:white;
        text-align: center;
        font-weight: lighter;
        font-size:medium;
        padding:20px;
    }
    content{
        display:inline;
        gap: 20px;
        box-sizing: border-box;
        background-color: #f59587;
    }
    /* Clases */
    .mptext-right{
        justify-self: left;
        align-self: center;
        text-align: center;
        width:100px;
        order: 1;
        font-family: 'Oooh Baby';
        font-size:xx-large;
    }
    .right-arrow{
        height:100px;
        width:200px;
        order:0;
        align-self: center;
    }
    .left-arrow{
        height:100px;
        width:200px;
        align-self: center;
        order:0;
        rotate:180deg;
    }
    .biofoto{
        margin: 100% 0px;
        background-image: url(QS-Fondo.jpg);
        background-size: 100% 100%;
    }
    .biotitle{
        text-align: center;
        color:white;
        font-family: 'Libre Baskerville', serif;
        font-size: 60px;
    }
    .horarios{
        font-family: 'FreightTextProLight';
        font-size: 20px;
        font-style: bold;
        padding: 12px;
        display: grid;
        width: auto;
        line-height: 30px;
        align-self: start;
        color: #F2F2F2;
        margin-top: 60px;
        margin-left:0;
        margin-right: 15%;
    }
    .horarios p {
        font-family: 'Times New Roman', Times, serif;  
        font-style: italic;
        line-height: 25px;
        width:100%
    }
    /* IDs */
    #brunch{
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 75%;
        height: 500px;
        border: solid 3px  #ffe0e0;
        background-image: url(fondito.jpg);
    }
    #mostrador{
        color: black;
        font-size: 32px;
        font-family: "Karla";
        margin-top: 40px;
        width: max-content;
    }
}
@media all and (max-width:428px){
    /* Tags */
    header{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 0px;
        background-color: #a95c56;
        position: sticky;
        top:0;
    }
    img{
        height:4vw;
        margin:3vw 0vw;
    }
    nav li,a{
        list-style:none;
        transition: all 0.3s ease 0s;
        padding: 10px 20px;
        cursor:pointer;
        order:2;
        text-align: center;
    }
    a,li{
        font-family:"Karla";
        font-weight: 400;
        font-size: 4vw;
        text-decoration: none;
        color: black;
    }
    a{
        order:-1;
    }
    footer{
        width:100%;
        background-color: #a95c56;
        color:white;
        text-align: center;
        font-weight: bold;
        font-size:x-small;
        padding:20px;
    }
    aside{
        display:grid;
        grid-template-columns: 50% 50%;
        width:100%;
        background-color: #f59587;
    }
    /* Clases */
    .mptext-right{
        justify-self: left;
        align-self: center;
        text-align: center;
        width:100px;
        order:1;
        font-family: 'Oooh Baby';
        font-size:x-large;
    }
    .right-arrow{
        height:50px;
        width:100px;
        align-self: center;
    }
    .mptext-left{
        justify-self: right;
        align-self: center;
        text-align: center;
        order:2;
        width:180px;
        font-family: 'Oooh Baby';
        font-size:x-large;
    }
    .left-arrow{
        height:50px;
        width:100px;
        align-self: center;
        order:1;
        rotate:180deg;
    }
    .biocontent{
        display:grid;
        grid-template-rows: 10% 90%;
    }
    .biofoto{
        background-image: url(QS-Fondo.jpg);
        margin:350px 0%;
        height:30%;
        background-size: 100% 100%;
    }
    .biotitle{
        text-align: center;
        color:white;
        font-family: 'Libre Baskerville', serif;
        font-size: xx-large;
    }
    .biotext{
        text-align: center;
        align-self: center;
        color:white;
        font-weight:100;
        font-size: 15px;
        line-height: 25px;
    }
    .mainbox{
        width:250px;
        
    }
    .subbox{
        width:150px;
    
    }
    .textbox{
        width:250px;
        height:150px;
    }
    .checksbox{
        line-height: 20px;
        padding-top:10px;
    }
    .horarios{
        font-family: 'FreightTextProLight';
        font-size: 20px;
        font-style: bold;
        padding: 12px;
        display: grid;
        width: auto;
        line-height: 20px;
        align-self: start;
        color: #F2F2F2;
        margin-top: 60px;
        margin-left:0;
        margin-right: 50%;
        width:100%
    }
    .horarios p {
        font-family: 'Times New Roman', Times, serif;  
        font-style: italic;
        line-height: 25px;
        width:100%
    }
    /* IDs */
    #fotoBebidas{
        width: 250px;
        height: 250px;
    }
    #brunch{
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 75%;
        height: 400px;
        border: solid 3px  #ffe0e0;
        background-image: url(fondito.jpg);
    }
    #mostrador{
        color: black;
        font-size: 17px;
        font-family: "Karla";
        margin-top: 40px;
        width: max-content;
    }
}